.header{
    width: 100vw;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #27272a;

    img{
        border-radius: 0.5rem;
        background-color:#A1A1AA;
        padding: 0.25rem 1.25rem;
    }
}