/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    background-color: var(--preto-700);
}

:root {
    
        --preto-300: #3F3F46,
        --preto-400: #27272A,
        --preto-500: #3E3E41,
        --preto-600: #1C1C1C,
        --preto-700: #09090A,
        
        --cinza-300: #C6C6D3,
        --cinza-400: #A1A1AA,
    
        --branco-900: #ffffff,  
        --branco-600: #F0F0F0,
        --branco-400: #EDEDED,
    
};

